{{ define "square.tmpl" }}
<html>
  <head>
    <title>{{ .title }}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </head>
  <body>
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">VectorVictor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/square">Square</a></li>
            <li><a href="/norm">Norm</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  <div class="container">
    <br><br><br><br>

    <div class='row'>
        <h2>Square</h2>
        <p>an endpoint for squaring vectors elementwise</p>
        <br>
        <p>Enter your vector as a comma seperated string:</p>
        <textarea class='form-control' id="vector"></textarea>
        <br>
        <button id="submit" class='btn btn-lg'>Submit</button>
        <hr>
        <div id="result">[]</div>
    </div>

    <script>
        $("#submit").click(function(e) {
            e.preventDefault();
            console.log("square?v=" + $("#vector").val());
            var data = $.ajax({
                "type": "POST",
                "url": "square?v=" + $("#vector").val(),
                "success": function( data ) {
                    $("#result").empty().append(JSON.stringify(data));
                }
            });
        });
    </script>
</div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
{{ end }}