{{ define "public/norms.tmpl" }}
{{ template "partials/header.tmpl" . }}


    <div class='row'>
        <h2>Norms</h2>
        <p>an endpoint for calculating different norms of a vector</p>
        <br>
        <p>Enter your vector as a comma seperated string:</p>
        <textarea class='form-control' id="vector"></textarea>
        <br>
        <select id="kind" class='form-control'>
            <option selected value="l1">l1</option>
            <option value="l2">l2</option>
            <option value="linfinity">linfinity</option>
        </select>
        <br>
        <button id="submit" class='btn btn-lg'>Submit</button>
        <hr>
        <div id="result">[]</div>
    </div>

    <script>
        $("#submit").click(function(e) {
            e.preventDefault();
            console.log("norm?v=" + $("#vector").val() + "&kind=" + $("#kind").val());
            console.log($("#kind"));
            var data = $.ajax({
                "type": "POST",
                "url": "norm?v=" + $("#vector").val() + "&kind=" + $("#kind").val(),
                "success": function( data ) {
                    $("#result").empty().append(JSON.stringify(data));
                }
            });
        });
    </script>
{{ template "partials/footer.tmpl" . }}
{{ end }}