{{ define "public/norms.tmpl" }}
{{ template "partials/header.tmpl" . }}
    <p>Square: and endpoint for squaring values</p>
    <br>
    <p>Enter your value:</p>
    <textarea id="vector"></textarea>
    <button id="submit">Submit</button>
{{ template "partials/footer.tmpl" . }}
{{ end }}